h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

/* header */
header .nav-item .nav-link {
  border-radius: 2px; }
  header .nav-item .nav-link:focus, header .nav-item .nav-link:hover {
    color: #fff !important;
    background-color: #292b2c;
    transition: all .4s; }

header .navbar-brand {
  color: #292b2c; }
  @media (max-width: 991px) {
    header .navbar-brand {
      padding-left: initial; } }

header .navbar-toggler {
  margin-top: 5px; }

@media (max-width: 991px) {
  header .collapse,
  header .collapsing {
    padding-left: .6rem;
    /* border: 1px solid; */ }
    header .collapse .nav-link:focus, header .collapse .nav-link:hover,
    header .collapsing .nav-link:focus,
    header .collapsing .nav-link:hover {
      color: initial !important;
      background-color: initial;
      transition: none; } }

/* hero */
.hero-txt {
  padding: 5rem 25%; }
  @media (max-width: 991px) {
    .hero-txt {
      padding: 5rem 6%; } }
  .hero-txt .hero-subtxt {
    background: #6cc5e2; }

/* pricing */
.pricing {
  padding: 0 25%; }
  @media (max-width: 991px) {
    .pricing {
      padding: 0 10%; } }
  .pricing tr {
    line-height: 2.4; }

/* carousel */
.carousel {
  background-color: #f9f9f9;
  padding-left: 15%;
  padding-right: 15%; }
  @media (max-width: 991px) {
    .carousel .carousel-item img {
      height: auto !important; } }
  @media (max-width: 767px) {
    .carousel .carousel-item img {
      height: 24vh !important;
      width: initial !important; } }
  .carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    background-color: #b7b7b7;
    padding: 28px;
    border-radius: 50%; }
    @media (max-width: 991px) {
      .carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
        padding: 20px; } }
  .carousel .carousel-control-prev-icon {
    background-position: 16px; }
    @media (max-width: 991px) {
      .carousel .carousel-control-prev-icon {
        background-position: 12px; } }
  .carousel .carousel-indicators {
    position: initial; }
    .carousel .carousel-indicators li {
      text-indent: initial;
      max-width: initial;
      height: auto;
      opacity: 0.5; }
      @media (max-width: 767px) {
        .carousel .carousel-indicators li img {
          height: 27px !important;
          width: 48px !important; } }
    .carousel .carousel-indicators li.active {
      opacity: 1; }

@media (max-width: 767px) {
  .carslist img {
    height: 25vh !important;
    width: auto !important; } }

.carslist .content p.more-info {
  opacity: 0;
  transition: opacity 500ms; }
  @media (max-width: 991px) {
    .carslist .content p.more-info {
      visibility: visible !important;
      opacity: 1; } }

.carslist .content:focus p.more-info, .carslist .content:hover p.more-info {
  visibility: visible !important;
  opacity: 1; }

/* footer */
footer .social a:focus, footer .social a:hover {
  text-decoration: none; }

footer .fa-google-plus:before,
footer .fa-instagram:before,
footer .fa-twitter:before,
footer .fa-facebook:before {
  border-radius: 50%;
  background: white;
  color: black; }

footer .fa-facebook:before {
  padding: 12px 16px; }

footer .fa-google-plus:before {
  padding: 12px 10px; }

footer .fa-instagram:before {
  padding: 12px 14px; }

footer .fa-twitter:before {
  padding: 12px 13px; }

footer hr {
  background: black; }

.feedback .icon {
  transition: transform 500ms;
  transform: scale3d(1, 1, 1); }
  .feedback .icon:focus, .feedback .icon:hover {
    transition: transform 300ms;
    transform: scale3d(2, 2, 2); }

.feedback .heading-2 {
  border-bottom: 4px double #ccc; }

/* single car details */
.singlecar .details p {
  font-size: 90%; }

.singlecar .carousel .carousel-indicators li {
  text-indent: -999px;
  max-width: 30px;
  height: 3px;
  background: rebeccapurple; }

/* Misc */
.pos-a {
  position: absolute; }

.pos-r {
  position: relative; }

.pos-f {
  position: fixed; }

.pos-s {
  position: static; }

.fw-400 {
  font-weight: 400; }

.fw-300 {
  font-weight: 300; }

.fw-200 {
  font-weight: 200; }

.fw-500 {
  font-weight: 500; }

.bb-1 {
  border-bottom: 1px solid #dcdcdc; }

.b-1 {
  border: 1px solid #dcdcdc; }

.tags {
  padding: 4px 8px;
  border: 1px solid #dadada;
  border-radius: 4px; }

.text-gray {
  color: #929292; }

.action-btn {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 4px;
  display: inline-block; }
  .action-btn:focus, .action-btn:hover {
    background: #0088ff;
    color: white; }

.heading-1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1; }

.heading-2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1; }

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0px; }

.close {
  position: absolute;
  right: -15px;
  top: -19px;
  padding: 5px 10px !important;
  background: black !important;
  color: white;
  border-radius: 50%;
  z-index: 1000;
  opacity: 1; }
  .close:focus, .close:hover {
    background: black !important;
    color: white;
    opacity: 1; }

.small-90 {
  font-size: 90%;
  font-weight: normal; }
