{{#carscarousel}}
<section id="carousel" class="carousel slide py-4" data-ride="carousel">
    <h2 class="mx-auto text-center text-gray-dark mb-4 heading-2">{{heading}}</h2>
    <div class="carousel-inner" role="listbox">
        {{#list}}
        <div class="carousel-item">
            <div class="row">
        		<div class="col-md-6 text-center">
        			<img src="{{img.src}}" style="height:{{img.height}}; width:{{img.width}};">
        		</div>
        		<div class="col-md-6 my-auto pt-3 pt-md-0 pt-lg-0 pt-xl-0">
        			<h5 class="mb-3">{{txt.bigtxt}}</h5>
        			<p>{{txt.subtxt}}</p>
                    <p>
                        {{#rating}}
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {{/rating}}
                    </p>
                    <p>
                        <span>Price</span>
                        <i class="fa fa-dollar"></i><b>{{price}}</b>
                    </p>
        		</div>
        	</div>
        </div>
        {{/list}}
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
    <ol class="carousel-indicators mt-4">
        {{#list}}
        <li data-target="#carousel" data-slide-to="{{index}}" class="mx-3">
          <img src="{{img.src}}" style="height:90px; width:160px">
        </li>
        {{/list}}
    </ol>
    <div class="mx-auto text-center mt-4">
        <a href="browsecars.html" class="action-btn">Browse all Cars</a>
    </div>
</section>
<script>
    $($('.carousel-item')[0]).addClass('active');
    $($('.carousel-indicators li')[0]).addClass('active');
</script>
{{/carscarousel}}