{{#carslist}}
<section class="my-md-5 my-3 row carslist">
    <!-- <div class="col-md-3">
        <!-- filters -->
        <!-- <ul>
            <li>sedan</li>
            <li>sedan</li>
            <li>sedan</li>
            <li>sedan</li>
        </ul>
        <ul>
            <li>sedan</li>
            <li>sedan</li>
            <li>sedan</li>
            <li>sedan</li>
        </ul>
        <ul>
            <li>sedan</li>
            <li>sedan</li>
            <li>sedan</li>
            <li>sedan</li>
        </ul>
    </div> -->
    <div>
        {{#list}}
            {{#snippet}}
            <div class="row py-3 bb-1">
        		<div class="col-md-4 text-center">
        			<img src="{{img.src}}" style="height:{{img.height}}; width:{{img.width}};">
        		</div>
        		<div class="col-md-8 pt-3 pt-md-0 content my-auto">
        			<h5 class="mb-3">{{txt.bigtxt}}</h5>
        			<p>{{txt.subtxt}}</p>
                    <p>
                        {{#rating}}
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {{/rating}}
                    </p>
                    <p>
                        <span>Price</span>
                        <i class="fa fa-dollar"></i><b>{{price}}</b>
                    </p>
                    <p class="invisible-md more-info">
                        {{#tags}}
                        <span class="d-inline-block small mt-1 mt-sm-0">{{.}}</span>
                        {{/tags}}
                    </p>
        		</div>
        	</div>
            {{/snippet}}
        {{/list}}
    </div>
    
</section>
{{/carslist}}