{{#contact}}
<section class="feedback">
    <div class="container text-center">
        <h2 class="text-center mb-3 py-3 heading-2">Get in Touch</h2>
    </div>
    <div class="small mb-4 text-center"> Comments or Questions? We had love to hear from you. </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                {{#social}}
                                    <div class="mb-4 text-black px-3">
                                        <a href="{{link}}" class="text-black">
                                            <i class="icon mr-2 fa fa-{{icon}}"></i>{{txt}}
                                        </a>
                                    </div>
                                {{/social}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feedback">
                            <form action="/contact/sendmessage" method="post" class="contact-form form-horizontal">
                    	  	    <div class="form-group">
                        		    <div class="col-sm-12">
                        				<input name="email" type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                        	  	<div class="form-group">
                        			<div class="col-sm-12">
                        				<input name="name" type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                        	  	</div>
                        	  	<div class="form-group">
                        			<div class="col-sm-12">
                        				<textarea class="form-control" id="message" name="message" placeholder="Type your message here" rows="4"></textarea>
                                    </div>
                        		</div>
                        		<div class="btn-wrapper form-group container">
                        			<button type="submit" class="btn btn-primary contact-btn">Send&nbsp;Message</button>
                        		</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/contact}}