{{#footer}}
<footer class="bg-inverse text-center text-white py-4">
    <div class="mb-4 small">
        {{#nav}}
            <a class="mx-2 text-white" href="{{link}}">{{txt}}</a>
        {{/nav}}
    </div>
    <div class="mb-4 social">
        {{#social}}
            <a class="mx-3 text-white" href="{{link}}">
                <i class="fa fa-{{txt}}"></i>
            </a>
        {{/social}}
    </div>
    <hr>
    <div class="small">
        CarsEasy © Copyright {{year}} - All rights reserved.
    </div>
</footer>
{{/footer}}