{{#header}}
<header class="site-header container-fluid bb-1" data-viewport="{{viewport}}">
    <nav class='navbar navbar-toggleable-md' role='navigation'>
        <button class="navbar-toggler navbar-toggler-right bg-inverse" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars text-white"></span>
        </button>
        <a class='navbar-brand' href='/'>
            {{#logo}}
                <img src="{{src}}" width="{{width}}" height={{height}}>
            {{/logo}}
            <span class="h3 font-weight-normal {{#logo}}hidden{{/logo}}">{{ company }}</span>
        </a>
        <div class='collapse navbar-collapse justify-content-end' id='navbar-collapse'>
            <ul class='nav navbar-nav navbar-right'>
                {{#nav}}
                    <li class='nav-item'>
                        <a href='{{link}}' class='nav-link text-gray-dark small-90'>
                            <span>{{txt}}</span>
                        </a>
                    </li>
                {{/nav}}
                <li class='nav-item'>
                    <a href='tel:{{phone}}' class='nav-link text-gray-dark small-90'>
                        <i class="fa fa-phone"></i>
                        <span>{{phone}}</span>
                    </a>
                </li>
            </ul>
       </div>
    </nav>
</header>
{{/header}}
