{{#hero}}
<section style="
    background: url({{img.src}}) no-repeat 40%/cover;
    height: {{img.height}};
    width: {{img.width}};
    background-size: cover;
    background-attachment: {{img.background-attachment}};
    background-position-y: {{img.background-position-y}};
">
    {{#txt}}
        <div class="mx-auto text-center text-white hero-txt">
            <h1 class="mb-2 heading-1">{{bigtxt}}</h1>
            <div class="mb-4 text-gray-dark hero-subtxt">{{subtxt}}</div>
            <a href="browsecars.html" class="btn btn-primary">Browse Cars</a>
        </div>
    {{/txt}}
</section>
{{/hero}}