<title>{{companyTitle}}</title>
<meta name="description" content="{{companyTitle}}">
<meta property=”og:title” content=”{{companyTitle}}"">
<meta property=”og:type” content=”website”>
<meta property=”og:image” content=”/img/logo.png”/>
<meta property=”og:description” content=”Online training services">
