{{#pricing}}
<section class="my-4 pricing">
    <h2 class="mx-auto text-center text-gray-dark mb-4 heading-2">{{heading}}</h2>
    <div class="mb-4 text-gray-dark">{{subtxt}}</div>
    <table class="mx-auto">
        <tr>
            <td><i class="fa fa-check text-primary pr-2"></i></td>
            <td class="pr-5">Some text text</td>
            <td><i class="fa fa-dollar"></i>234</td>
        </tr>
        <tr>
            <td><i class="fa fa-check text-primary pr-2"></i></td>
            <td class="pr-5">Some text text text</td>
            <td><i class="fa fa-dollar"></i>34</td>
        </tr>
        <tr>
            <td><i class="fa fa-check text-primary pr-2"></i></td>
            <td class="pr-5">Some text</td>
            <td><i class="fa fa-dollar"></i>24</td>
        </tr>
        <tr>
            <td><i class="fa fa-check text-primary pr-2"></i></td>
            <td class="pr-5">Some</td>
            <td><i class="fa fa-dollar"></i>4</td>
        </tr>
        <tr>
            <td><i class="fa fa-check text-primary pr-2"></i></td>
            <td class="pr-5">Some text text text text</td>
            <td><i class="fa fa-dollar"></i>23</td>
        </tr>
        <tr style="border-top: 1px dotted;">
            <td><i class="fa fa-check text-primary pr-2"></i></td>
            <td class="pr-5"><strong>Total</strong></td>
            <td><strong><i class="fa fa-dollar"></i>319</strong></td>
        </tr>
    </table>
    <div class="mx-auto text-center mt-4">
        <a href="howitworks.html" class="action-btn">See How it works</a>
    </div>
</section>
{{/pricing}}