{{#search}}
<section class="col-md-6 offset-md-3">
    <form role="search" method="GET" action="/search" class="text-center">
        <div class="form-group row">
            <input id="search-inpt-nav-top" name="search" type="text" class="form-control col-9" placeholder="ex: Tesla..." style="margin-left: -4px;">
            <button id="search-btn-nav-top" type="submit" class="btn btn-primary col-3" style="margin-left: 4px;">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</section>
{{/search}}