{{#car}}
<section>
    {{#snippet}}
	<h4 class="mb-3 text-center">{{txt.bigtxt}}</h4>
    <div class="row py-3">
  		<div class="col-md-8 pt-3 pt-md-0">
  		    <p>{{txt.subtxt}}</p>
            <p>
                {{#rating}}
                <i class="fa fa-star" aria-hidden="true"></i>
                {{/rating}}
            </p>
            <p>
                <span>Price</span>
                <i class="fa fa-dollar"></i><b>{{price}}</b>
            </p>
            <p class="invisible-md more-info">
                {{#tags}}
                <span class="d-inline-block small mt-1 mt-sm-0 tags">{{.}}</span>
                {{/tags}}
            </p>
  		</div>
        <div class="col-md-4 text-center p-0">
  			<img src="{{img.src}}" style="height:{{img.height}}; width:{{img.width}};">
            <div class="pt-3">
                <button type="button" class="btn-link" data-toggle="modal" data-target="#gallery">View Gallery</button>
            </div>
  		</div>
  	</div>
    {{/snippet}}
    <div class="row py-3">
        {{#details}}
        <div class="col-md-8 details">
            <div>
                <h5 class="fw-400 text-center bb-1 py-3 mb-3">Location</h5>
                {{#location}}
                    <p>{{place}}</p>
                    <p><a href="{{link}}">View on google maps</a>
                {{/location}}
            </div>
            <div>
                <h5 class="fw-400 text-center bb-1 py-3 mb-3">Description</h5>
                {{#desc}}
                    <p>{{.}}</p>
                {{/desc}}
            </div>
            <div>
                <h5 class="fw-400 text-center bb-1 py-3 mb-3">Features</h5>
                <div class="row">
                    {{#features}}
                    <div class="col-3 mt-3">
                        <div class="small text-gray">{{key}}</div>
                        <p>{{value}}</p>
                    </div>
                    {{/features}}
                </div>
            </div>
            <div>
                <h5 class="fw-400 text-center bb-1 py-3 mb-3">Delivery</h5>
                {{#delivery}}
                    <p>{{.}}</p>
                {{/delivery}}
            </div>
            <div>
                <h5 class="fw-400 text-center bb-1 py-3 mb-3">Guidelines</h5>
                {{#guidelines}}
                    <p>{{.}}</p>
                {{/guidelines}}
            </div>
            <!-- <div id="gallery">
                <ul class="p-0 m-0 text-center">
                    {{#gallery}}
                    <li class="d-inline-block pb-1">
                          <img class="gallery-img" src="{{src}}" style="height:{{height}}; width:{{width}};">
                    </li>
                    {{/gallery}}
                </ul>
            </div> -->
  		</div>
        {{/details}}
        {{#book}}
  		<div class="col-md-4 pt-3 book b-1">
  			<h5 class="mb-3 text-center">Book</h5>
            <form role="search" method="GET" action="/">
                <div class="form-group row">
                    <label for="delivery-address" class="control-label col-md-4 py-2 m-0 pr-0">Price</label>
                    <div class="col-md-8 pl-0">
                        <label for="delivery-address" class="control-label py-2 m-0 p-0"><b>$ 450</b></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="months" class="control-label col-md-4 py-2 m-0 pr-0"># of months</label>
                    <div class="col-md-8 pl-0">
                        <input id="months" name="months" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="startdate" class="control-label col-md-4 py-2 m-0 pr-0">Start Date</label>
                    <div class="col-md-8 pl-0">
                        <input id="startdate" name="startdate" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="delivery-address" class="control-label col-md-4 py-2 m-0 pr-0">Delivery Address</label>
                    <div class="col-md-8 pl-0">
                        <input id="delivery-address" name="delivery-address" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="delivery-address" class="control-label col-md-4 py-2 m-0 pr-0">Total Price</label>
                    <div class="col-md-8 pl-0">
                        <label for="delivery-address" class="control-label py-2 m-0 p-0"><b>$ 900</b></label>
                    </div>
                </div>
                <div class="text-center">
                    <button id="search-btn-nav-top" type="submit" class="btn btn-primary col-8" style="margin-left: 4px;">
                        Book now
                    </button>
                </div>
            </form>
  		</div>
        {{/book}}
  	</div>
    <div class="py-3">
        <h5 class="fw-400 text-center bb-1 py-3 mb-3">Similar Deals</h5>
        <div class="row">
            {{#similar}}
            <div class="col-md-4">
        		<div class="text-center">
        			<img src="{{img.src}}" style="height:{{img.height}}; width:{{img.width}};">
        		</div>
        		<div class="pt-3">
        			<h5 class="mb-1">{{txt.bigtxt}}</h5>
                    <i class="fa fa-dollar"></i><b>{{price}}</b>
                    <p>
                        {{#rating}}
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {{/rating}}
                    </p>
        		</div>
        	</div>
            {{/similar}}
        </div>
    </div>
</section>
<div class="modal fade" id="gallery" tabindex="-1" role="dialog" aria-labelledby="galleryLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <section id="carousel" class="carousel slide p-0" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {{#gallery}}
                        <div class="carousel-item">
                			<img src="{{src}}" style="height:{{height}}; width:{{width}};">
                        </div>
                        {{/gallery}}
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators mt-4">
                        {{#gallery}}
                        <li data-target="#carousel" data-slide-to="{{index}}" class="mx-3">
                        </li>
                        {{/gallery}}
                    </ol>
                </section>
                <script>
                    $($('.carousel-item')[0]).addClass('active');
                    $($('.carousel-indicators li')[0]).addClass('active');
                </script>
            </div>
        </div>
    </div>
</div>
{{/car}}
