{{#car}}
<section id="carousel" class="carousel slide p-0" data-ride="carousel">
    {{#snippet}}
    <div class="carousel-inner" role="listbox">
        {{#img}}
        <div class="carousel-item">
			<img src="{{src}}" style="height:{{height}}; width:{{width}};">
        </div>
        {{/img}}
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
    <ol class="carousel-indicators mt-4">
        {{#img}}
        <li data-target="#carousel" data-slide-to="{{index}}" class="mx-3">
          <img src="{{src}}" style="height:90px; width:160px">
        </li>
        {{/img}}
    </ol>
    {{/snippet}}
</section>
<script>
    $($('.carousel-item')[0]).addClass('active');
    $($('.carousel-indicators li')[0]).addClass('active');
    $('.carousel').carousel('pause');
</script>
{{/car}}