@import "bootstrap/variables";
@import "bootstrap/mixins";

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

/* header */
header {
    .nav-item {
        .nav-link {
            border-radius: 2px;
            @include hover-focus {
                color: $white !important;
                background-color: $gray-dark;
                transition: all .4s;
            }
        }
    }
    .navbar-brand {
        color: $brand-inverse;
        @include media-breakpoint-down(md) {
            padding-left: initial;
        }
    }
    .navbar-toggler {
        margin-top: 5px;
    }
    @include media-breakpoint-down(md) {
        .collapse,
        .collapsing {
            padding-left: .6rem;
            /* border: 1px solid; */
            .nav-link {
                @include hover-focus {
                    color: initial !important;
                    background-color: initial;
                    transition: none;
                }
            }
        }
    }
}

/* hero */
.hero-txt {
    padding: 5rem 25%;
    @include media-breakpoint-down(md) {
        padding: 5rem 6%;
    }
    .hero-subtxt {
        background: #6cc5e2;
    }
}

/* pricing */
.pricing {
    padding: 0 25%;
    @include media-breakpoint-down(md) {
        padding: 0 10%;
    }
    tr {
        line-height: 2.4;
    }
}

/* carousel */
.carousel {
    background-color: #f9f9f9;
    padding-left: 15%;
    padding-right: 15%;
    .carousel-item {
        img {
            @include media-breakpoint-down(md) {
                height: auto !important;
            }
            @include media-breakpoint-down(sm) {
                height: 24vh !important;
                width: initial !important;
            }
        }
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: #b7b7b7;
        padding: 28px;
        border-radius: 50%;
        @include media-breakpoint-down(md) {
            padding: 20px;
        }
    }
    .carousel-control-prev-icon {
        background-position: 16px;
        @include media-breakpoint-down(md) {
            background-position: 12px;
        }
    }
    .carousel-indicators {
        position: initial;
        li {
            text-indent: initial;
            max-width: initial;
            height: auto;
            opacity: 0.5;
            img {
                @include media-breakpoint-down(sm) {
                    height: 27px !important;
                    width: 48px !important;
                }
            }
        }
        li.active {
            opacity: 1;
        }
    }
}

.carslist {
    img {
        @include media-breakpoint-down(sm) {
            height: 25vh !important;
            width: auto !important;
        }
    }
    .content {
        p.more-info {
            opacity: 0;
            transition: opacity 500ms;
            @include media-breakpoint-down(md) {
                visibility: visible !important;
                opacity: 1;
            }
        }
        @include hover-focus {
            p.more-info {
                visibility: visible !important;
                opacity: 1;
            }
        }
    }
}
/* footer */
footer {
    .social {
        a {
            @include hover-focus {
                text-decoration: none;
            }
        }
    }
    .fa-google-plus:before,
    .fa-instagram:before,
    .fa-twitter:before,
    .fa-facebook:before {
        border-radius: 50%;
        background: white;
        color: black;
    }
    .fa-facebook:before {
        padding: 12px 16px;
    }
    .fa-google-plus:before {
        padding: 12px 10px;
    }
    .fa-instagram:before {
        padding: 12px 14px;
    }
    .fa-twitter:before {
        padding: 12px 13px;
    }
    hr {
        background: black;
    }
}
.feedback {
    .icon {
        transition: transform 500ms;
        transform: scale3d(1, 1, 1);
        @include hover-focus {
            transition: transform 300ms;
            transform: scale3d(2, 2, 2);
        }
    }
    .heading-2 {
        border-bottom: 4px double #ccc;
    }
}

/* single car details */
.singlecar {
    .details {
        p {
            font-size: 90%;
        }
    }
    .carousel .carousel-indicators li {
        text-indent: -999px;
        max-width: 30px;
        height: 3px;
        background: rebeccapurple;
    }
}

/* Misc */
.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}
.pos-f {
    position: fixed;
}
.pos-s {
    position: static;
}
.fw-400 {
    font-weight: 400;
}
.fw-300 {
    font-weight: 300;
}
.fw-200 {
    font-weight: 200;
}
.fw-500 {
    font-weight: 500;
}
.bb-1 {
    border-bottom: 1px solid #dcdcdc;
}
.b-1 {
    border: 1px solid #dcdcdc;
}
.tags {
    padding: 4px 8px;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.text-gray {
    color: #929292;
}
.action-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    @include hover-focus {
        background: #0088ff;
        color: white;
    }
}
.heading-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
}
.heading-2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0px;
}
.close {
    position: absolute;
    right: -15px;
    top: -19px;
    padding: 5px 10px !important;
    background: black !important;
    color: white;
    border-radius: 50%;
    z-index: 1000;
    opacity: 1;
    @include hover-focus {
        background: black !important;
        color: white;
        opacity: 1;
    }
}
.small-90 {
  font-size: 90%;
  font-weight: normal;
}