<!Doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> meta}}
        {{> styles}}
        {{> js}}
    </head>
    <body class="header-initial-and-after-viewport">
          {{> header}}
          <main class="singlecar col-10 offset-1 my-3">
              {{> singlecar-details}}
          </main>
          {{> footer}}
    </body>
  </html>
