<!Doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#db5945">
        {{> meta}}
        {{> styles}}
        {{> js}}
    </head>
    <body class="header-initial-and-after-viewport">
          {{> header}}
          {{> hero}}
          {{> pricing}}
          {{> carscarousel}}
          {{> howitworks}}
          {{> whyltc}}
          {{> footer}}
          {{> copyright}}
    </body>
  </html>
